<div class="row my-5">
  <div class="col-12">
    <div class="container">
      <div id="about">
        <h2>About</h2>
        <p>
          I have an academic background in analytical philosophy and business experience with customer service.
          My bilingual upbringing exposed me to different cultures from a young age, which instilled me with a rich cultural perspective and adaptability, enabling me to sucessfully collaborate with people of various backgrounds and to strive in fast-paced work environments.
          Now that I have graduated the web development bootcamp of Le Wagon and enjoyed learning about technolgies such as Ruby on Rails, React and Git/Github, I'm eager to work in the tech industry in Tokyo.
        </p>
      </div>
    </div>
  </div>
</div>
