<div class="row justify-content-center banner">
  <div class="col-12 d-flex flex-column justify-content-center align-items-center h-100">
    <h1 class="title-main">Noah</h1>
    <%= image_tag 'Noah.jpg', height: "200", alt: "profile photo", class: 'avatar' %>
    <ol>
      <li><a href="#about-container">About me</a></li>
      <li><a href="#projects-container">Projects</a></li>
      <li><a href="#social-container">Contact me</a></li>
      <li><%= link_to 'Download', '../assets/CV-Noah-Taiga-Endo-2.pdf' %></li>
    </ol>
  </div>
</div>
