#profile-links-list {
  list-style-type: none;
  width: 40vw;
  text-align: center;
  padding: none;
  margin: 20px 0 0 0;

  @media (max-width: 1420px) {
    width: 60vw;
  }

  @media (max-width: 970px) {
    width: 80vw;
  }

  @media (max-width: 700px) {
    width: 100vw;
  }

}

.profile-link {
  text-decoration: none;
  color: black;
  transition: ease 0.3s;
  font-weight: bold;
  font-size: 1.2rem;

  &:hover {
    color: $gray;
  }

  @media (max-width: 700px) {
    display: flex;
    flex-direction: column;
  }
}
