// Define variables for your color scheme

// For example:
$red: #FD1015;
$dark-brown: #65451F;
$middle-brown: #765827;
$light-brown: #C8AE7D;
$lightest-bornw: #EAC696;
$red-brown: #632626;
$red-brown2: #9D5353;
$blue: #0D6EFD;
$yellow: #FFC65A;
$orange: #E67E22;
$green: #1EDD88;
$dark-gray: #0E0000;
$gray: #868686;
$light-gray: #F4F4F4;
