<div class="container ">
  <!-- Banner Section -->
  <div id="banner-container">
    <%= partial 'partials/banner' %>
  </div>
  <!-- About Section -->
  <div id="about-container">
    <%= partial 'partials/about' %>
  </div>
  <!-- Projects Section -->
  <div id="projects-container">
    <%= partial 'partials/projects' %>
  </div>
  <!-- Social Links Section -->
  <div id="social-container">
    <%= partial 'partials/social' %>
  </div>
</div>
